		.header{
			overflow:hidden; 
			background-color:#0B243B;
			padding:20px 20px;
			border:solid white 4px;
		}
		.header a{
			float:left;
			color: black;
			text-align:center;
			padding:15px;
			text-decoration: none;
			font-size:23px;
			line-height: 25px;
			border-radius:10px;
		}
		.header a.logo{
			font-size:28px;
			font-weight:bold;
			border:solid white 2px;
			color:white;
			background-color:#0B243B;
		}
		.header a.active{
			background-color:#0B243B;
			color:white;
			border:solid white 2px;
		}
		.header-right{
			float:right;
		}
		.slider{
			display: block;
			height: 400px;
			width: 600px;
			margin: auto;
			margin-top: 10px;
		}
		.slider li{
			list-style: none;
			position: absolute;
		}
		.slider img{
			height: 300px;
			width: 500px;
		}
		.slider input{
			display: none;
		}
		.slider label{
			background-color: #000;
			bottom: 10px;
			cursor: pointer;
			display: block;
			height: 10px;
			position: absolute;
			width: 10px;
			z-index: 10;
		}
		.slider li:nth-child(1) label{
			left: 10px;
		}
		.slider li:nth-child(2) label{
			left: 40px;
		}
		.slider li:nth-child(3) label{
			left: 70px;
		}
		.slider img{
			opacity: 0;
			visibility: visible;
		}
		.slider li input:checked ~ img{
			opacity: 1;
			visibility: visible;
			z-index: 10;
		}
		body{
			background:url("fun.jpg");
			background-position:center bot;
			background-repeat:repeat;
			background-position:50% bottom;	
			background-attachment: fixed;
			background-attachment: scroll;
		}
		td{
			background-color:#0B243B;
			border:solid white 4px;
		}
		.lu{
			color: white;
			padding:15px;
			text-decoration: none;
			font-size:23 px;
		}
		.ta{
			width:200px;
		}
		.ac{
			height: 100px;
			width: 1000px;
		}
		.pac{
			background-color:black;
			overflow:hidden; 
			padding:50px;
			border:solid black 4px;
			background-size:1000px 190px;
		}
		h3{
			color:white
		}